
<nav class="navbar">
  <ul>
    <li><a href="home.html" data-page="home">Home</a></li>
    <li><a href="about.html" data-page="about">About</a></li>
    <li><a href="myHistoryInArt.html" data-page="myHistoryInArt">My History In Art</a></li>
    <li><a href="artGallery.html" data-page="artGallery">Art Gallery</a></li>
    <li><a href="resources.html" data-page="resources">Resources</a></li>
    <li><a href="events.html" data-page="events">Events</a></li>
    <li><a href="accessibility.html" data-page="accessibility">Accessibility</a></li>
    <li><a href="contact.html" data-page="contact">Contact</a></li>
    <li><a href="faq.html" data-page="faq">FAQ</a></li>
    <li><a href="events.html" data-page="events">Events</a></li>
    <li><a href="guidelines.html" data-page="guidelines">Guidelines</a></li>
  </ul>


   <!-- NEW: user section -->
  <div class="user-area">
    <span id="user-email">Guest</span>
    <button onclick="netlifyIdentity.open()">Account</button>
    <button onclick="netlifyIdentity.logout()">Logout</button>
  </div>


</nav>