@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:focus {
  outline: 2px solid blue;
}

.container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #7EA1C4 70%, #C8EBB1 30%);
    position: relative;
    overflow: hidden;
}

.wave{
  position: absolute;
  top:0;
  right: 30%;
}

nav {
    width: 90%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style-type: none;  
}

nav ul li{
    margin:0 5px;
}
nav ul a{
    text-decoration: none;
    padding: 0.3rem 1.3rem;
    font-size: 17px;
    font-weight: bold;
    color: #151108;
    position: relative;
    z-index: 1;
}
nav ul a::after{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top:0;
    left:0px;
    border-radius: 20px;
    background-color: #C8EBB1;
    z-index: -1;
    transition: 0.5s;
}
nav ul a:hover:after{
    width: 100%;
}

.website-logo{
  height: 80px; /* Smaller height */
    width: auto; /* Keeps aspect ratio */
    position: absolute;
    top: 20px;
    right: 20px; /* Moves it to the right */
    z-index: 10; /* Ensures it stays above other elements */

}


.main-content {
    width: 60%;
    padding-top: 100px;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.image-pista ,.main-text{
    flex-basis: 50%;
}
.image-pista img{
    width: 100%;
}
.main-content h1 {
    font-size: 60px;
    letter-spacing: 1px;
    color: #494234;
}
.main-content p{
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 1px;
}

.main-content button{
    margin-top: 2.5rem;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 0 50% 50% 0;
    background-color: #565248;
    color: white;
    cursor: pointer;
}
.swiper{
    width: 20rem;
}
.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    position: absolute;
    top: 50%;
    right: 2vw; /* horizontal positioning */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.2em;
}


.new-user-button {
    right: 10%;
    margin-right: 50px;
    width: 200px;
    height: 50px;
    background-color: #051122;
    color: white;
    cursor: pointer;
}

.login-button {
    right: 45%;
    margin-right: 50px;
    width: 200px;
    height: 50px;
    background-color: #051122;
    color: white;
    cursor: pointer;
}

.visitor-button {
    right: 10%;
    margin-right: 50px;
    width: 200px;
    height: 50px;
    background-color: #051122;
    color: white;
    cursor: pointer;
}

.new-user-button:hover {
    background-color: #219150;
}

.login-button:hover {
    background-color: #d35400;
}

.visitor-button:hover {
    background-color: #732d91;
}
